div[data-author-id="954325714436493332"] .contents-2MsGLg .messageContent-2t3eCI a, div[data-author-id="928339066838216754"] .contents-2MsGLg .messageContent-2t3eCI a, div[data-author-id="1000223731077091356"] .contents-2MsGLg .messageContent-2t3eCI a {
    color: var(--accent-color);
    /* text-shadow: 0 0 2px #ABE9B388; */
  }
  
  /*----------Highlight Self in User Popout-----*/
  .userPopout-2j1gM4[aria-label="Anubis"] .headerTop-3GPUSF .headerText-1-WmDq {
    background: -webkit-linear-gradient(top left, #F28FAD, #E8A2AF, #F8BD96, #FAE3B0, #ABE9B3, #B5E8E0, #89DCEB, #96CDFB, #C9CBFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 3px #FFFFFF66;
  }
  div[data-author-id="928339066838216754"] .headerText-2z4IhQ .username-h_Y3Us {
    /*--Your God-Awful Declarations--*/
    background: -webkit-linear-gradient(top left, #F28FAD, #E8A2AF, #F8BD96, #FAE3B0, #ABE9B3, #B5E8E0, #89DCEB, #96CDFB, #C9CBFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 3px #FFFFFF66;
  }
  div[data-author-id="928339066838216754"] .messageContent-2t3eCI {
    /*--Your God-Awful Declarations--*/
    color: #FAE3B0;
    }

    [data-author-id="928339066838216754"] .headerText-2z4IhQ .username-h_Y3Us::before,
[data-user-id="928339066838216754"] + .header-1dhDWV::before,
[data-user-id="928339066838216754"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="928339066838216754"] + .listName-PwbeHL .username-3JLfHz::before {
    content: "";
    background: url("https://media.discordapp.net/attachments/932674476250918946/1003877584121118750/app_ankidroid.png") center/100% no-repeat;
    padding: 0px 9px 0px 9px;
    margin-right: 6px;
}