/* Discord */
:root {
        --background-primary: #303446;
        --background-secondary: #292c3c;
        --background-secondary-alt: #292c3c;
        --background-tertiary: #232634;
        --background-floating: #232634;
        --background-accent: #8caaee;
        --border-color: var(--background-modifier-accent);
        --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
        --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
        --background-modifier-hover: #4f545c29;
        --background-modifier-active: #4f545c3d;
        --text-normal: #c6d0f5;
        --text-muted: #949cbb;
        --text-link: #8caaee;
        --settings-icon-color: var(--interactive-normal);
        --tab-selected: var(--background-modifier-selected);
        --switch: #a6d189;
        --button-background: #626880;
        --button-background-hover: #232634;
        --button-background-active: #232634;
        --button-accent: #8caaee;
        --button-accent-hover: #85c1dc;
        --button-accent-active: #81c8be;
        --button-destructive: #e78284;
        --button-destructive-hover: #ea999c;
        --button-destructive-active: #ea999c;
        --background-modifier-selected: #4f545c52;
        --text-positive: #a6d189;
        --interactive-selected: var(--interactive-active);
        --background-modifier-accent: #ffffff0f;
        --background-message-hover: #04040512;
        --interactive-normal: #b9bbbe;
        --interactive-muted: #737994;
        --channels-default: #838ba7;
        --header-primary: #fff;
        --header-secondary: #b9bbbe;
        --control-brand-foreground: #8caaee;
        --text-subtext-1: #b5bfe2;
        --text-subtext-0: #a5adce;
        --overlay-2: #949cbb;
        --overlay-1: #838ba7;
        --overlay-0: #737994;
        --surface-2: #626880;
        --surface-1: #51576d;
        --surface-0: #414559;
    --font-primary: "Liga SFMono Nerd Font";
  }
  .theme-light, .theme-dark {
    --brand-experiment: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%) !important
  }
  .contentRegionScroller-2_GT_N {
      background-color: var(--background-primary) !important;
  }
  .sidebarRegionScroller-FXiQOh {
      background: var(--background-secondary) !important;
  }
  .childWrapper-1j_1ub {
      color: var(--text-normal) !important;
  }
  .circleIconButton-1QV--U {
      color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
  }
  .container-2nx-BQ:not([style*="218"]), .bd-switch-checked .bd-switch-body {
      background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%) !important;
  }
  .body-1Ukv50, .activity-3v9l4T, .profileBanner-1owKI5, .avatar-2Vndt_, .headerTop-2y3V6H, .headerTop-3GPUSF, .headerTop-2cWpdB, .activity-fViXj7, .body-2wLx-E, .topSection-13QKHs, .banner-1YaD3N:not(.settingsBanner-1eDJ5w), .avatar-3QF_VA, .aboutMeSection---MkQa, .footer-3naVBw, .footer-1N3bR3, .bodyInnerWrapper-2bQs1k, .profileBannerPreview-3_l0Wd, .userPopout-2j1gM4, .bannerNormal-22rPhb {
      background-color: var(--background-floating) !important;
  }
  .bd-button {
      background-color: #3e82e5;
  }
  .contentWrapper-3vHNP2 {
      background-color: var(--background-tertiary) !important;
  }